<h1>Search Fight</h1>

<p>This app makes search engines fight! That's right, just input a search term in the box below and we'll see
  which search engine returns the most results. If you want to search multiple terms at the same time,
  just separate them with a comma.</p>

<input type="text" [(ngModel)]="searchTerms" /> <button (click)="performSearch()">Search</button>

<p *ngIf="searching"><em>Loading...</em></p>

<h1 *ngIf="queryResults">Results:</h1>

<table class='table table-striped' *ngIf="queryResults">
  <thead>
    <tr>
      <th>Search Term</th>
      <th>Search Engine</th>
      <th>Total Results</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let queryResult of queryResults">
      <td>{{ queryResult.searchTerm}}</td>
      <td>{{ queryResult.searchEngineUsed }}</td>
      <td>{{ queryResult.totalResults }}</td>
    </tr>
  </tbody>
</table>

<h1 *ngIf="winners">Winners:</h1>

<table class='table table-striped' *ngIf="winners">
  <thead>
    <tr>
      <th>Search Term</th>
      <th>Search Engine</th>
      <th>Total Results</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let queryResult of winners">
      <td>{{ queryResult.searchTerm}}</td>
      <td>{{ queryResult.searchEngineUsed }}</td>
      <td>{{ queryResult.totalResults }}</td>
    </tr>
  </tbody>
</table>
