<h1>Search Fight</h1>

<p>
  This app makes search engines fight! That's right, just input a search term in the box below and we'll see
  which search engine returns the most results. If you want to search multiple terms at the same time,
  just separate them with a comma.
</p>
<div>
  <p>Search engines currently supported:
  <img width="50" height="50" src="https://cdn0.iconfinder.com/data/icons/free-social-media-set/24/bing-512.png" alt="Bing, logo, microsoft, search, search engine icon"/>
  <img width="45" height="45" src="https://cdn.worldvectorlogo.com/logos/google-icon.svg" alt="Google, logo, search engine icon"/>
  </p>
</div>

<input type="text" [(ngModel)]="searchTerms" />
<button (click)="performSearch()">Search</button>

<div *ngIf="error" class="panel panel-default">
  <div class="panel-body" style="color:red;">{{error}}</div>
</div>

<p *ngIf="searching"><em>Loading...</em></p>

<h1 *ngIf="queryResults">Results:</h1>

<table class='table table-striped' *ngIf="queryResults">
  <thead>
    <tr>
      <th>Search Term</th>
      <th>Search Engine</th>
      <th>Total Results</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let queryResult of queryResults">
      <td>{{ queryResult.searchTerm}}</td>
      <td>{{ queryResult.searchEngineUsed }}</td>
      <td>{{ queryResult.totalResults }}</td>
    </tr>
  </tbody>
</table>

<h1 *ngIf="winners">Winners:</h1>

<table class='table table-striped' *ngIf="winners">
  <thead>
    <tr>
      <th>Search Term</th>
      <th>Search Engine</th>
      <th>Total Results</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let queryResult of winners">
      <td>{{ queryResult.searchTerm}}</td>
      <td>{{ queryResult.searchEngineUsed }}</td>
      <td>{{ queryResult.totalResults }}</td>
    </tr>
  </tbody>
</table>

<br />
<br />
<footer>
  Built with:
  
  <img width="250" height="150" src="https://www.timsommer.be/content/images/2018/03/angularanddotnetcore.jpg" alt="net core logo, angular logo" />
</footer>
